.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.git
.github
.idea
.vscode
android/.gradle
android/app/build
build
ios/Pods
ios/Runner.xcworkspace
linux/flutter/ephemeral
macos/Flutter/ephemeral
test
integration_test
windows/flutter/ephemeral
node_modules
.vercel
