# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/build_android/
/node_modules/
.vercel/
.vercel-cache/
/scripts/*
!/scripts/
!/scripts/deploy_web_prod.ps1
!/scripts/vercel_build.sh


# Environment variables
.env
pulse-wise-app-firebase-adminsdk-fbsvc-860a6d04cb.json
android/app/google-services.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Secret
client_secret_1087013148919-bc7n421oeuf5tj3brf7vlg1cgedo7qh1.apps.googleusercontent.com (1).json
client_secret_1087013148919-di87r0jqtr6apaotdvuv2q5h5fjuq1lc.apps.googleusercontent.com.json
# Generated icon pack source folder
/LOGO PW-icons/
